:root {
  --ss-background: #020407;
  --ss-surface: #0A0D0F;
  --ss-chrome: #131A21;
  --ss-foreground: #EFF2F6;
  --ss-muted-foreground: #A0A5AA;
  --ss-chrome-foreground: #EFF2F6;
  --ss-border: #303942;
  --ss-primary: #23C8B3;
  --ss-primary-foreground: #020305;
  --ss-accent: #C6A8FF;
  --ss-accent-foreground: #020305;
  --ss-focus: #95C9FF;
  --ss-success: #73D083;
  --ss-success-foreground: #020305;
  --ss-warning: #E1AD57;
  --ss-warning-foreground: #020305;
  --ss-danger: #FF968A;
  --ss-danger-foreground: #020305;
  --ss-primary-50: #E5FFFA;
  --ss-primary-100: #A7FFEF;
  --ss-primary-200: #89EDDC;
  --ss-primary-300: #65D4C2;
  --ss-primary-400: #2EB5A3;
  --ss-primary-500: #009888;
  --ss-primary-600: #007D6F;
  --ss-primary-700: #006458;
  --ss-primary-800: #00483F;
  --ss-primary-900: #002E28;
  --ss-primary-950: #001612;
  --ss-accent-50: #F9F7FF;
  --ss-accent-100: #EEE7FF;
  --ss-accent-200: #DECEFF;
  --ss-accent-300: #C7AFF6;
  --ss-accent-400: #A88ED9;
  --ss-accent-500: #8E72C0;
  --ss-accent-600: #775AA7;
  --ss-accent-700: #5F448A;
  --ss-accent-800: #462D6B;
  --ss-accent-900: #2E174E;
  --ss-accent-950: #190232;
}
